'context-menu':
  '.tree-view .selected': [
    {
      label: 'Generate Puppet Module',
      command: 'atom-smart-template:create-files-from-template'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Generate Puppet Module'
      'submenu': [
        { 'label': 'Open templates folder', 'command': 'atom-smart-template:open-temlates-folder'},
        { 'label': 'Open templates folder in Atom', 'command': 'atom-smart-template:open-temlates-folder-in-atom'}
      ]
    ]
  }
]
